.dark-mode {
    background-color: darken($grisOscuro,10);

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4 {
        color:$gris;
    }
    h5 {
        color: black;
    }

    .header, .contenedor2 {
        background-color: darken($grisOscuro,10);
    }

    .navegacion, .navegacion-footer {
        background-color: lighten($grisOscuro,30);
        a {
            color: black;
        }
    }

    .footer-seccion {
        background-color: darken($grisOscuro,10);
    }

    .formulario {
        background-color: lighten($grisOscuro,50);
        label,
        legend,
        p {
            color:$grisOscuro;
        }

        input:not([type="submit"]),
        textarea,
        select {
            background-color: lighten($grisOscuro,30);
            color: $blanco;

           
    }

    ::placeholder {
        color: lighten($gris,10);
    }
}
  .barra {
    background-color: $gris;
  }
}