.formulario {
    display: grid;
    background-color: $gris;
    width: min(60rem, 100%);
    border-radius: 20px;
    margin: 0 auto;
    padding: 2rem;
    border-style: double;
  }
  
  .formulario fieldset {
    border: 2px;
  }
  
  .formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $negro;
  }


  
  @media (min-width: 768px) {
    .contenedor-campos {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto auto 8rem;
      column-gap: 1rem;
    }
  }
  
  .campo:nth-child(7) {
    grid-column: 1 / 3;
  }

  .campo:nth-child(8) {
    grid-column: 1 / 3;
  }
  
  .campo {
    margin-bottom: 0rem;
  }
  
  .campo label {
    color: var($negro);
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
    text-transform: capitalize;
  }
  
  .campo textarea {
    height: 14rem;
  }
  
  input:not([type="submit"]),
  textarea,
  select {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
  }

  .contacto {
    padding-bottom: 5rem;;
  }

  .alinear-derecha {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
  }

  .botonform {
    border-radius: 20rem;
    background-color: lighten($verde, 40);
  }

.botonform:hover {
        border-radius: 20rem;
        background-color: $blanco;
        cursor: pointer;

  }