@import 'base/normalize';
@import 'base/variables';
@import 'base/mixins';
@import 'base/globales';
@import 'base/utilidades';
@import 'base/darkMode';

/** UI **/
@import 'layout/header';
@import 'layout/footer';
@import 'layout/navegacion';
@import 'layout/formulario';
@import 'layout/contenido';

/** Internas **/ 
@import 'internas/index';
@import 'internas/registrados';

.contenido-header .logotype .header__Logo {
    max-width: 60rem; // Ajusta este valor según lo que necesites
    height: auto; // Ajusta la altura automáticamente

    @include telefono {
        max-width: 35rem;
    }

    @include tablet {
        max-width: 50rem;
    }

    @include desktop {
        max-width: 60rem;
    }
}




